.remote{
    margin-top: 70px;
}

.remote .image{
    content: url("../src/img/remoteImage.png");
}

.remote .separator{
    height: 200px;
    background: #F9F9F9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    border-radius: 15px;
    /*prop fonts*/

    -webkit-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.07);
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.07);
}

.remote .texto p{
    font-size:22px;
    font-weight: regular;
    color:#3E5255;
    margin-top: 10px;
    line-height: 25px;
}

.remote .texto h1{
    color:#04363C;
    
}

.remote .texto{
    width: auto;
    margin-left: 25px;
    margin-bottom: 15px;  

}

.remote .info{
    display: flex;
    align-items: center;
    max-width: 80%;
}

.remote .buttonForm button{
    border: none;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    background: #0DC5DF;
    padding: 20px;
    transition: 0.2s;
    outline: none;
}

.remote .buttonForm button:hover{
    background: rgb(10, 160, 180);
    cursor: pointer;

}

@media(max-width:715px){

    .remote .separator {
        flex-direction: column;
        height: auto;
        padding: 30px 0px 30px 0px;

    }

    .remote .buttonForm{
        width: 80%;
    }

    .remote .buttonForm button{
        width: 100%;
    }


}

@media(max-width:540px){
    .remote .info{
        flex-direction: column;
        
    }

    .remote .info .texto{
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    }

    .remote .texto{
        margin-left: 0px;
    }
}
